

body {
    background-image: url(/CSS/imeg/fahrul-razi-BR6lrzCPYPk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    

}

/*верхняя понель*/
header {
    border-color: white;
    border: 20px;
}

ul {
    margin: 0;
    padding: 20px;
}

.q1, .q2, .q3, .q4{
    font-size: 20px;
    padding: 20px;
    color: rgb(0, 255, 149);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 117, 68);
}

li {
    display: inline;
}

.q0 {
    color: rgb(0, 255, 149);
}

/*Текст*/
.info {
    margin-right: 10px;
    border-radius: 20px;
    background-color:rgb(48, 48, 48);
    width: ;
    margin-left: 20%;
    margin-right: 0;
}

p{
    
    margin-top: 5px;
    margin-bottom: 5px;
}
.text {
    padding: 10px;
    font-size: 30px;
    text-align: justify;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}