
body {
    background-image: url(/CSS/imeg/fahrul-razi-BR6lrzCPYPk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

/*верхняя понель*/

header{
	width: 100%;
	background: rgb(26, 26, 26);
	height: 55px;
    position: fixed;
    top:0;
}

.title{
	font-size: 30px;
	padding-top: 5px;
    margin-left: 10px;

}

.a1 {
    color: #628500;
    text-decoration: none;
}

.a1:hover {
    color: rgb(100, 255, 69);
}

.menu{
	list-style: none;
	position: absolute;
    top:0;
	right: 55px;
    margin-top: 15px;
}

li {
    
    display: inline;
}


.planet {
    padding-top: 8px;
    right: 0px;
    position: absolute; top: 0;
}

ul {
   margin: 0; 
}

.q1 {
    color: #628500;
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

.q2, .q3, .q4{
    color: #628500;
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
}

a:hover {
    color: rgb(100, 255, 69);
    text-decoration: none;
}


/*Текст*/
.info {
    width: 65.5%;
    position: absolute;
    right: 30px;
    margin-top: 70px;
    border: none;
    border-radius: 20px;
    background-color:rgb(27, 27, 27);
    
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.text {
    padding: 10px;
    font-size: 24.999px;
    color: white;
}

.gradient {
    background: linear-gradient(to right, #ff0000, #ff9100, #73ff00, #00ff73, #00f7ff, #0026ff, #ff0095);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.p1 {
    color: #646464;
    margin-top: 24px;
}

/* Переключатель - поле вокруг ползунка */
.switch {
    
    position: fixed;
    top: 115px;
    left: 225px;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Скрыть флажок HTML по умолчанию */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* Ползунок */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #628500;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(15, 54, 0);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(100, 255, 69);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(100, 255, 69);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.logo {

    margin: 0;
    width: 280px;
    height: 150px;
    position: fixed;
    left: 20px;
    top: 60px;
}

.text1{
    position: fixed;
    left: 20px;
    top: 60px;
    margin: 0;
    font-size: 85px;
    color: white;
}

.text3{
    position: fixed;
    top: 150px;
    left: 20px;
    margin: 0;
    color: white;
    font-size: 85px;
}
.ff {
    position: fixed;
    left: 280px;
    top: 60px;
    margin: 0;
    font-size: 85px;
    color: rgb(28, 100, 0);
}