

body {
    background-image: url(/CSS/imeg/fahrul-razi-BR6lrzCPYPk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    margin: 0;
    font-family: "JetBrains Mono", monospace;
}

/*верхняя понель*/
header {
    background-color: rgb(26, 26, 26);
    padding-top: 9px;
    padding-bottom: 9px;
}

ul{
    
    margin: 0;
}
.name {
    text-decoration: none;
    padding-top: 10px;
    font-size: 26px;
    margin-left: 10px;
    color: rgb(100, 255, 69);
    padding-right: 855px;
}

.planet {
    padding-top: 8px;
    padding-left: 1555px;
    position: absolute; top: 0;
}

li {
    display: inline;
    
}
.q1, .q2, .q3, .q4{
    
    padding-left: 20px;
    font-size: 20px;
    color: rgb(100, 255, 69);
    text-decoration: none;
}

a:hover {
    color: rgb(70, 70, 70);
}








/*Текст*/
.info {
    margin-left: 20%;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
    background-color:rgb(27, 27, 27);
    margin-right: 30px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.text {
    padding: 10px;
    font-size: 20px;
    color: white;
}

.gradient {
    background: linear-gradient(to right, #ff0000, #ff9100, #73ff00, #00ff73, #00f7ff, #0026ff, #ff0095);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}